doctype html
html(lang='en')
  head
    title Landing Page
  body
    h1 "The future home of something awesome!"
    p Prism tousled pok pok, narwhal letterpress poutine snackwave polaroid subway tile VHS twee fashion axe seitan drinking vinegar. Skateboard chicharrones squid, PBR&B tote bag sriracha swag cornhole dreamcatcher hot chicken mumblecore craft beer chartreuse copper mug. Scenester kitsch polaroid, 3 wolf moon vice mlkshk tofu shoreditch health goth drinking vinegar craft beer franzen jianbing keffiyeh. Normcore actually af butcher next level deep v, trust fund pop-up ramps offal celiac. Brooklyn church-key cardigan, slow-carb sartorial freegan paleo craft beer. Hell of tattooed cardigan, fingerstache jean shorts keffiyeh succulents health goth leggings authentic tote bag austin pok pok fixie. La croix DIY neutra, ramps vegan sriracha hell of glossier synth live-edge.
